.link-cart {
    text-decoration: none;
    display: inline-block;
  }


  .link-cart strong {
    margin-left: 5px; 
    font-weight: bold;
    background-color: #ffc107; 
    color: white; 
    padding: 3px 8px; 
    border-radius: 50%; 
  }