.boton-eliminar {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  background-color: #0197bc;
}

.img-carrito {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 10px;
}

.item-info {
  align-items: left;
}

