.contador-container {
    display: flex;
    align-items: center;
}

.contador-boton {
    margin: 10px;
    border: none;
    padding: 5px 10px;
    border-radius: 40px;
    cursor: pointer;
    background-color: #0197bc;
    color: white;
}

.contador-boton:hover {
    background-color: grey;
}